name: CI

on:
  push:

defaults:
  run:
    shell: pwsh

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.4
      with:
        persist-credentials: false
    - uses: actions/setup-python@v2
      with:
        python-version: '3.6'
        architecture: 'x64'
    - name: Install build tools
      run: |
        python -m pip install --upgrade build twine
    - name: Build package
      run: |
        python -m build
    - name: Test install
      run: |
        python -m pip install ./dist/*.whl
    - name: Test run through python
      run: |
        python -m schemdule
    - name: Test run directly
      run: |
        schemdule
    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: dist
        path: ./dist
    